
<!doctype html>
 
{%load static %}

<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <title></title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js"></script>
    <style>

  </style>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">

      //global resources
      const nback_intro = new Audio("{% static 'sound/confirmation.mp3' %}");
      const nback_show_card = new Audio("{% static 'sound/quindar_tone.mp3' %}");
      const nback_correct_press = new Audio("{% static 'sound/press.mp3' %}");
      var mqtt_client = new Paho.MQTT.Client("{{system.mqtt_broker_ip}}", {{system.mqtt_broker_wsport}}, "clientId_" + parseInt(Math.random() * 100, 10));
      

      function emit_nback_timestamp(topic, msg){
        nback_correct_press.play();
        
        // publish data
        if(mqtt_client){
            const msg_data = {
                timestamp: Date.now()/1000,
                message:msg
            };
            
            var message = new Paho.MQTT.Message(JSON.stringify(msg_data));
            message.destinationName = topic;
            message.qos = 2;
            mqtt_client.send(message);
        }
      }

      // mqtt connection
      function connectMQTT() {
          
          mqtt_client.onConnectionLost = function (responseObject) {
              if (responseObject.errorCode !== 0) {
                  console.log("onConnectionLost:" + responseObject.errorMessage);
              }
          };
  
          // 콜백 함수: 메시지를 받을 때 호출
          mqtt_client.onMessageArrived = function (message) {
              // console.log("onMessageArrived: " + message.payloadString);

              try{
                // const rep_payload = message.payloadString.replace(/'/g, '\"');
                // const payload = JSON.parse(message.payloadString.replace(/'/g, '"'));
                const payload = JSON.parse(message.payloadString);

                switch(message.destinationName){
                  // change location
                  case "flame/avsim/phoneview/mapi_set_url":
                    if(payload.hasOwnProperty("url")){
                        window.location.href = "http://{{system.host}}:{{system.port}}"+payload.url;
                    }
                    break;

                  // present visual stimulus (show nback code)
                  case "flame/avsim/phoneview/mapi_nback_code":
                    if(payload.hasOwnProperty("code")){
                      document.getElementById("nback_code").innerText = payload.code;
                      emit_nback_timestamp('flame/avsim/cabinview/nback/log', payload.code+' code present');
                      
                      let timerId = setTimeout(() => {
                        document.getElementById("nback_code").innerText = "";
                        clearTimeout(timerId);
                      }, 760);

                      nback_show_card.play();
                    }
                    break;
                }
              }
              catch(e){
                console.log("message payload parse error");
              }
          };
  
          var options = {
              onSuccess: function () {
                  console.log("Connected to MQTT broker");
                  mqtt_client.subscribe("flame/avsim/phoneview/#");
              },
              onFailure: function (message) {
                  console.log("Connection failed: " + message.errorMessage);
              }
          };
  
          mqtt_client.connect(options);
      }

      //MQTT broker connect
      window.onload = function () {
          connectMQTT();
      };
  
  </script>

    {% block javascript %}
    {% endblock %}
    
  </head>

  {% csrf_token %}
  <body>

  {% block contents %}
  {% endblock %}

  </body>
</html>
